.topbar {
    position: fixed;
    top: 0;
    left: 260px; /* sejajar sidebar */
    right: 0;
    height: 72px;

    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 0 28px;
    box-shadow: 0 1px 6px rgba(0,0,0,0.08);
    z-index: 100;
}

/* LEFT */
.topbar-left h4 {
    font-size: 18px;
    font-weight: 600;
    color: #222;
}

/* RIGHT */
.topbar-right {
    display: flex;
    align-items: center;
    gap: 18px;
}

/* ICON */
.icon-btn {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    color: #444;
}

/* USER */
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 18px;
    border-left: 1px solid #e5e5e5;
}

.user-info img {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    object-fit: cover;
}

.user-info .name {
    font-weight: 600;
    font-size: 14px;
    display: block;
    color: #222;
}

.user-info .role {
    font-size: 12px;
    color: #777;
}
